<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-6">
      <form method="POST" action="/students/{{student._id}}/edit">
        <div class="mb-3">
          <label class="form-label">Адрес электронной почты</label>
          <input type="email" name="email" value="{{student.email}}" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Твой аккаунт в github</label>
          <input type="text" name="github" value="{{student.github}}" class="form-control" value="https://github.com/"
            {{!-- required --}}>
        </div>
        <div class="mb-3">
          <label class="form-label">Имя</label>
          <input type="text" name="firstName" value="{{student.firstName}}" class="form-control" {{!-- {{!-- required
            --}} --}}>
        </div>
        <div class="mb-3">
          <label class="form-label">Фамилия</label>
          <input type="text" name="lastName" value="{{student.lastName}}" class="form-control" {{!-- required --}}>
        </div>
        <div class="mb-3">
          <label class="form-label">Номер телефона</label>
          <input type="tel" name="number" value="{{student.number}}" class="form-control" {{!-- required --}}>
        </div>
        <div class="mb-3">
          <label class="form-label">Ссылка на социальные сети</label>
          <input type="text" name="social" value="{{student.social}}" class="form-control" {{!-- required --}}>
        </div>
        <div class="mb-3">
          <label class="form-label">Контакт близкого человека, с которым можно связаться в экстренном случае</label>
          <input type="text" name="closeContact" value="{{student.closeContact}}" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Дата и год рождения</label>
          <input type="date" name="birthday" min="1900-01-01" max="2025-01-01" {{!-- required --}}
            value="{{editBirthday}}" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Из какого ты города?</label>
          <input type="text" name="city" value="{{student.city}}" {{!-- required --}} class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Какое у тебя образование?</label>
          <input type="text" name="education" value="{{student.education}}" {{!-- required --}} class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Чем ты занимался до bootcamp? </label>
          <input type="text" name="employmentBefore" value="{{student.employmentBefore}}" {{!-- required --}}
            class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Нуждаешься ли ты в специальных условиях обучения по здоровью?</label>
          <input type="text" name="specialConditions" value="{{student.specialConditions}}" class="form-control">
        </div>
        <div class="mb-3">
          <label class="list-group-item">Почему ты решил(а) сменить сферу работы?</label>
          <div class="form-floating">
            <input class="form-control" name="reason" disabled value="{{student.reason}}">
            <label for="floatingTextarea">список</label>
          </div>
        </div>
        <div class="mb-3">
          <label class="list-group-item">Источники</label>
          <div class="form-floating">
            <input class="form-control" name="howKnow" disabled value="{{student.howKnow}}">
            <label for="floatingTextarea">список</label>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Формат обучения</label>
          <select name="format" class="form-select" aria-label="Default select example">
            <option selected disabled>Выберите формат обучения</option>
            <option value="JavaScript - Москва - очное">JavaScript - Москва - очное</option>
            <option value="JavaScript - Санкт-Петербург - очное">JavaScript - Санкт-Петербург - очное</option>
            <option value="JavaScript - online">JavaScript - online</option>
            <option value="DataScience - Москва - очное">DataScience - Москва - очное</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Дата поступления</label>
          <input type="date" name="receiptDate" min="2017-01-01" max="2025-01-01" {{!-- required --}}
            value="{{editReceiptDate}}" class="form-control">

        </div>
        <button type="submit" class="btn btn-danger">Подтвердить изменения</button>
      </form>
    </div>
  </div>
</div>
