<table class="table table-hover">
  <thead>
    <tr>
      {{!-- <th scope="col">#</th> --}}

      <th scope="col"><a href="/admin/students/sortByName/upper"><i class="fas fa-caret-up"></i></a> <a
          href="/admin/students/sortByName/down"><i class="fas fa-caret-down"></i></a> Фамилия,
        Имя</th>
      <th scope="col"><a href="/admin/students/sortByDate/upper"><i class="fas fa-caret-up"></i></a> <a
          href="/admin/students/sortByDate/down"><i class="fas fa-caret-down"></i></a> Дата старта</th>
      <th scope="col"><a href="/admin/students/sortByBirthday/upper"><i class="fas fa-caret-up"></i></a> <a
          href="/admin/students/sortByBirthday/down"><i class="fas fa-caret-down"></i></a> Дата рождения</th>
      <th scope="col">Источник
        <form action="/admin/students/filterByKnow" method="POST">
          <select class="form-select form-select-sm" name="howKnow" aria-label=".form-select-sm example">
            <option selected>Все</option>
            <option value="instagram">Instagram</option>
            <option value="facebook">Facebook</option>
            <option value="vkontakte">Vkontakte</option>
            <option value="google">Google</option>
            <option value="yandex">Yandex</option>
            <option value="статья">Статья</option>
            <option value="друзья">Друзья</option>
            <option value="АйтиБорода">АйтиБорода</option>
            <option value="Другое">Другое</option>
          </select>
          <button type="submit" class="btn btn-success"><i class="far fa-share-square"></i></button>
        </form>
      </th>
      <th scope="col">Формат обучения
        <form action="/admin/students/filterByFormat" method="POST">
          <select class="form-select form-select-sm" name="format" aria-label=".form-select-sm example">
            <option selected>Все</option>
            <option value="JavaScript - Москва - очное">JavaScript - Москва - очное</option>
            <option value="JavaScript - Санкт-Петербург - очное">JavaScript - Санкт-Петербург - очное</option>
            <option value="JavaScript - online">JavaScript - online</option>
            <option value="DataScience - Москва - очное">DataScience - Москва - очное</option>
          </select>
          <button type="submit" class="btn btn-success"><i class="far fa-share-square"></i></button>
        </form>
      </th>
      <th>Подробнее</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each students}}
      {{!-- <th scope="row">{{}}</th> --}}
      <td>{{this.lastName}} {{this.firstName}}</td>
      <td>{{this.receiptDate}}</td>
      <td>{{this.birthday}}</td>
      <td>{{this.howKnow}}</td>
      <td>{{this.format}}</td>
      <td>
        <form action="/admin/students/select/{{this._id}}" method="GET">
          <button type="submit" class="btn btn-success"><i class="fas fa-info"></i></button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
