<nav class="navbar navbar-expand-lg  fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/admin/students">Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/admin/logout">Выйти</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="container" style="margin: 50px">
</div>
<table class="table table-hover">
  <thead>
    <tr>
      {{!-- <th scope="col">#</th> --}}

      <th scope="col"><a href="/admin/students/sortByName/upper"><i class="fas fa-caret-up"></i></a> <a
          href="/admin/students/sortByName/down"><i class="fas fa-caret-down"></i></a> Фамилия,
        Имя</th>
      <th scope="col"><a href="/admin/students/sortByDate/upper"><i class="fas fa-caret-up"></i></a> <a
          href="/admin/students/sortByDate/down"><i class="fas fa-caret-down"></i></a> Дата старта</th>
      <th scope="col"><a href="/admin/students/sortByBirthday/upper"><i class="fas fa-caret-up"></i></a> <a
          href="/admin/students/sortByBirthday/down"><i class="fas fa-caret-down"></i></a> Дата рождения</th>
      <th scope="col">
        <form action="/admin/students/filterByKnow" method="POST">
          <button type="submit" class="btn btn-success"> <i class="fas fa-filter"> Источник</i></button>
          <select class="form-select form-select-sm" name="howKnow" aria-label=".form-select-sm example">
            <option selected>Все</option>
            <option value="instagram">Instagram</option>
            <option value="facebook">Facebook</option>
            <option value="vkontakte">Vkontakte</option>
            <option value="google">Google</option>
            <option value="yandex">Yandex</option>
            <option value="статья">Статья</option>
            <option value="друзья">Друзья</option>
            <option value="АйтиБорода">АйтиБорода</option>
            <option value="Другое">Другое</option>
          </select>

        </form>
      </th>
      <th scope="col">
        <form action="/admin/students/filterByFormat" method="POST">
          <button type="submit" class="btn btn-success"> <i class="fas fa-filter"> Формат</i></button>
          <select class="form-select form-select-sm" name="format" aria-label=".form-select-sm example">
            <option selected>Все</option>
            <option value="JavaScript - Москва - очное">JavaScript - Москва - очное</option>
            <option value="JavaScript - Санкт-Петербург - очное">JavaScript - Санкт-Петербург - очное</option>
            <option value="JavaScript - online">JavaScript - online</option>
            <option value="DataScience - Москва - очное">DataScience - Москва - очное</option>
          </select>

        </form>
      </th>
      <th>Подробнее</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each students}}
      {{!-- <th scope="row">{{}}</th> --}}
      <td>{{this.lastName}} {{this.firstName}}</td>
      <td>{{this.receiptDate}}</td>
      <td>{{this.birthday}}</td>
      <td>{{this.howKnow}}</td>
      <td>{{this.format}}</td>
      <td>
        <form action="/admin/students/select/{{this._id}}" method="GET">
          <button type="submit" class="btn btn-success"><i class="fas fa-info"></i></button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
