<table class="table table-hover">
  <thead>
    <tr>
      {{!-- <th scope="col">#</th> --}}
      <th scope="col">Фамилия, Имя</th>
      <th scope="col">Дата старта</th>
      <th scope="col">Дата рождения</th>
      <th scope="col">Источник</th>
      <th scope="col">Формат обучения</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each students}}
      {{!-- <th scope="row">{{}}</th> --}}
      <td>{{this.lastName}}, {{this.firstName}}</td>
      <td>{{this.receiptDate}}</td>
       <td>{{this.birthday}}</td>
      <td>{{this.howKnow}}</td>
      <td>{{this.format}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
